*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 2px;
    margin: 0.5px;
    width: 100%;
}

nav{
    padding: 2px;
    
}

